@media only screen and (max-width: 991px) {
    body > nav > div > button:hover,
    body > nav > div > button:focus {
        background-color: none;
   }

   #navbarSupportedContent {
    padding: 5% 0;
    
   }
   #navbar-nav {
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    padding: 2% 0;
  }
}